<ul>
  <li><%= link_to "Record a win", new_game_path %>
  <li><%= link_to "Add a new game", new_boardgame_path %>
</ul>

<h1>Last 10 Games</h1>

<ul>
  <% @games.each do |game| %>
    <li>
      Game: <%= game.boardgame.title %> </br>
      Gewinner: <%= game.winner %> </br>
      <%= game.created_at %>
    </li>
  <% end %>
</ul>


