<div class="container" style="flex-direction: row;justify-content: space-around;">
  <div class="button">
      <%= link_to "Record a win", new_game_path %>
  </div>
  <div class="button">
    <%= link_to "Show all games", boardgames_path %>
  </div>
  <div class="button">
    <%= link_to "Add a new game", new_boardgame_path %>
  </div>
</div>

<h1>Last 5 Games</h1>
<div class="container">
    <% @games.each do |game| %>
    <div class="game">
        Game: <%= game.boardgame.title %></br>
        Gewinner: <%= game.winner %></br>
        Zeit: <%= game.created_at %></br>
    </div>
    <% end %>
</div>

<h1>Games won by Toby </h1>
<p>Toby won <%= @games_toby.size %> games! </p>
  <div class="container">
    <% @games_toby.each do |game| %>
    <div class="game">
        Game: <%= game.boardgame.title %></br>
        Zeit: <%= game.created_at %></br>
    </div>
    <% end %>
</div>

<h1>Games won by Teresa</h1>
<p>Teresa won <%= @games_teresa.size %> games! </p>
  <div class="container">
    <% @games_teresa.each do |game| %>
    <div class="game">
        Game: <%= game.boardgame.title %></br>
        Zeit: <%= game.created_at %></br>
    </div>
    <% end %>
</div>