<div class="flex-container">
  <div class="grid-container">
    <h1 class="game">Add a new win!</h1>
    <p>Add your win to the list by entering the required data!</p>
    <p class="game"> Select the Game! </p>

    <%= form_with model: @game do |form| %>

    <%= form.collection_select :boardgame_id, Boardgame.order(:title), :id, :title %>

    <p class="game"> Select the Winner! </p>
    
    <div class="game">
      <%= form.radio_button :winner, "Tobias", checked: true %>
      <%= form.label :winner_tobias, "Tobias" %>
    </div>
    <div class="game">
      <%= form.radio_button :winner, "Teresa" %>
      <%= form.label :winner_teresa, "Teresa" %>
    </div>
    <div class="game">
      <%= form.radio_button :winner, "Draw" %>
      <%= form.label :winner_draw, "Draw " %>
    </div>

    <%= form.submit "Add a win!", data: { turbo_confirm: "Is the data correct?" } %>
    <% end %>

    <%= render "shared/error", object: @game %>
</div>
