<h1>New Win</h1>

<div class="container">
  <p>Add your win to the list by entering the required data!</p>

  <%= form_with model: @game do |form| %>
  
  <p> Select the Game! </p>

    <div class="form">
      <%= form.collection_select :boardgame_id, Boardgame.order(:title), :id, :title %>
    </div>

    <p> Select the Winner! </p>

    <div class="form">

      <%= form.select :winner, ["Tobias", "Teresa"] %>
    </div>

    <div class="form">
      <%= form.submit "Add a win!" %>
    </div>
  <% end %>

  <%= render "shared/error", object: @game %>
</div>
