<div class="flex-container">
  <div class="grid-container">
    <h1 class="game">New Boardgame</h1>
    <p>Add a new boardgame in this form to be able to select it in on the winner page!</p>

    <%= form_with model: @boardgame do |form| %>

        <%= form.label :title, "Enter the game name if it does not yet exist!" %>
        <%= form.text_field :title %>


      <p> Should this game count as a ranked game?</p>

      <div class="game">
        <%= form.radio_button :ranked, "True" %>
        <%= form.label :ranked_true, "True" %>
      </div>
      <div class="game">
        <%= form.radio_button :ranked, "False" %>
        <%= form.label :ranked_false, "False" %>
      </div>

      <%= form.submit "Add a boardgame to the list!" %>
    <% end %>

    <%= render "shared/error", object: @boardgame %>
  </div>
</div>