<h1><%= @boardgame.title %></h1>
<div class="container">
    <div class="game">
        Title: <%= @boardgame.title %></br>
        Is it ranked: <%= @boardgame.ranked %></br>
    </div>

    <div class="game">
       Tobias won <%= @games.filter {|g| g.winner == "Tobias" }.count %> games!</br>
       Teresa won <%= @games.filter {|g| g.winner == "Teresa" }.count %> games!</br>
    </div>
</div>